//History page
//TODO gör om input till en label eller ngt

extends layout

block content
	if (dbdata.length > 0 )
		- for (var i = 0; i < dbdata.length; i++)
			#container
				if(dbdata[i].playerOneId === user.username)
					br
					input.match(type='submit', value='Versus: ' + dbdata[i].playerTwoId, name=dbdata[i]._id, playerid='playerone', playerunique=user._id, playeroneid=dbdata[i].playerOneId, playertwoid=dbdata[i].playerTwoId)
					br
				else if (dbdata[i].playerTwoId === user.username)
					br
					input.match(type='submit', value='Versus: ' + dbdata[i].playerOneId, name=dbdata[i]._id, playerid='playertwo', playerunique=user._id, playeroneid=dbdata[i].playerOneId, playertwoid=dbdata[i].playerTwoId) 
					br
	else
		br
		p You dont have any history